body {
    font-size: 14px;
    background-color: black;
}




.countDown {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: Dubai;
    border: none;
    text-align: center;
}

    .totalTaskTime {
        background-color: black;
        color: white;
        font-size: 50px;
        font-family: "Dubai";
        border: none;
        text-align: center;
    }


.topSection {
    vertical-align: top;
    padding: 0 1em 0 0;
    margin: 0 1.3em 0 0;
    font-weight: bold;
    float: left;
    color: black;
    background-color: black;
    width: 100%;
    text-align: center;
}

.todoListContainer {
    color: black;
    background-color: black;
    width: 100%;
}
.todoListTimeDelBtn {
    width: 166px;
    max-width: 100%;
    float: left;
    text-align: center;
    margin-left: 0px;
    margin-right: -7px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}



.todoList {
    position: center;
    padding: 1em;
    border: 0 solid #DDD;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    z-index: 1;
    background-color: #CCCCCC;
}

.todoListCell {
    vertical-align: top;
    padding: 3px 5px;
    background-color: #CCCCCC;
    color: black;
}

.taskInputFields {
    margin: 0;
    padding: .45em 0.92em;
    font-size: 1em;
    line-height: 1.4;
    color: black;
    background: white none;
    border: 0 solid #CCCCCC;
    border-left: 0 solid #CCC;
}

.timeInputField {
    width: 30%
}

.addRowButton {
    display: block;
    cursor: pointer;
    position: center;
    right: 0;
    left: 0;
    width: 80px;
    margin: auto;
    text-align: center;
    opacity: 0.7;
    color: #fff;
    border: 1px solid lightgray;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background: forestgreen;
    height: 1.5em;
    line-height: 1.5em;
    transition: all .3s;
    z-index: 0;
}

.addRowButton:hover {
    opacity: 1;
    background-color: forestgreen;
}

.delRowButton {
    opacity: 0.2;
    cursor: pointer;
    display: inline-block;
    padding: .45em .92em;
    font-size: 1em;
    line-height: 1.4;
    border: 1px solid lightgray;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    background: crimson;
    border-radius: 4px;
}

.delRowButton:hover {
    background: crimson;
    color: lightgray;
    opacity: 1;
    border-radius: 4px;
}

.drag-handler {
    width: 1.4em;
    position: relative;
    background: black linear-gradient(45deg, black, black 2px, #4e5259 2px, #fff 4px, black 4px, black 9px,
    #4e5259 9px, #fff 11px, black 11px, black 16px, #4e5259 16px, #fff 18px, black 18px, black 22px);
    background-size: 10px 20px;
    cursor: grab;
    border-left: 2px solid #CCCCCC;
    border-top: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
    border-radius: 4px;
    opacity: 0.5;
    transition: all .3s;
}

.drag-handler:hover {
    width: 1.4em;
    position: relative;
    background: #FFA500 linear-gradient(45deg, black, black 2px, #FFD700 2px, #FFD700 4px, black 4px, black 9px, #FFD700 9px, #FFD700 11px, black 11px, black 16px, #FFD700 16px, #FFD700 18px, black 18px, black 22px);
    background-size: 10px 20px;
    cursor: grab;
    opacity: 1.0;
}

.drag-handler:active {
    background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
    background-size: 10px 20px;
}
.addRowButton {
    margin-top: 0px;
}
.delRowButton.defaultRow{
    pointer-events: none;
}
.setup-time{
    text-align: left;
    font-size: 12px;
    padding: 6px;
    float: left;
    margin-left: 10%;
    margin-top: 6%;
    background: #CCCCCC;
    color: black;
    border: none;
}