body {
    font-size: 14px;
    background-color: gray;
}

.without_ampm::-webkit-datetime-edit-ampm-field {
    display: none;
}
input[type=time]::-webkit-clear-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance:none;
    appearance: none;
    margin: -10px;
}

.countdownTable {
    background: black;
    color: black;
}

.countDown {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: Dubai;
    border: none;
    text-align: center;
}

.totalTaskTime {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: Dubai;
    border: none;
    text-align: center;
}

.topSectionBorder {
    vertical-align: top;
    text-align: right;
    padding: 0 1em 0 0;
    margin: 0 1.3em 0 0;
    font-weight: bold;
    color: #454545;
    width: 300px;
    float: left;
    color: black;
    background-color: black;
}

.todoListContainer {

    color: black;
    background-color: gray;
}

.todoList {
    position: relative;
    padding: 1em;
    border: 0px solid #DDD;
    box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
    z-index: 0;
    background-color: #CCCCCC;
}

.todoListCell {
    vertical-align: top;
    padding: 3px 5px;
    background-color: #CCCCCC;
    color: black;
}

.taskInputFields {
    margin: 0;
    padding: .45em 0.92em;
    font-size: 1em;
    line-height: 1.4;
    color: black;
    background-color: white;
    background-image: none;
    border: 0px solid #CCCCCC;
    border-left: 0px solid #CCC;
}

.addRowButton {
    display: block;
    cursor: pointer;
    position: center;
    right: 0;
    left: 0;
    width: 5em;
    margin: auto;
    text-align: center;
    opacity: 0.5;
    color: #fff;
    border: 1px solid lightgray;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    background: gray;
    height: 1.5em;
    line-height: 1.5em;
    transition: all .3s;
}

.addRowButton:hover {
    opacity: 1;
    background-color: forestgreen;
}

.delRowButton {
    opacity: 0.5;
    cursor: pointer;
    display: inline-block;
    padding: .45em .92em;
    font-size: 1em;
    line-height: 1.4;
    border: 1px solid lightgray;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    background: gray;
    border-radius: 8px;

}

.delRowButton:hover {
    background: crimson;
    color: lightgray;
    opacity: 1;
    border-radius: 8px;
}

.drag-handler {
    width: 1.4em;
    position: relative;
    background: black linear-gradient(45deg, black, black 2px, #4e5259 2px, #fff 4px, black 4px, black 9px,
    #4e5259 9px, #fff 11px, black 11px, black 16px, #4e5259 16px, #fff 18px, black 18px, black 22px);
    background-size: 10px 20px;
    cursor: grab;
    border-top: 0px solid #4e5259;
    border-bottom: 0px solid #4e5259;
    opacity: 0.5;
    transition: all .3s;
}

.drag-handler:hover {
    width: 1.4em;
    position: relative;
    background: #FFA500 linear-gradient(45deg, black, black 2px, #FFA500 2px, #FFA500 4px, black 4px, black 9px, #FFA500 9px, #FFA500 11px, black 11px, black 16px, #FFA500 16px, #FFA500 18px, black 18px, black 22px);
    background-size: 10px 20px;
    cursor: grab;
    opacity: 1.0;

}

.drag-handler:active {
    background-image: linear-gradient(45deg, #bab86c, #bab86c 2px, #fff 2px, #fff 4px, #bab86c 4px, #bab86c 9px, #fff 9px, #fff 11px, #bab86c 11px, #bab86c 16px, #fff 16px, #fff 18px, #bab86c 18px, #bab86c 22px);
    background-size: 10px 20px;
}

.tasktime, .tasks {
    width: 100%;
    text-align: center;
}

